// Файл глобальных стилей для всего приложения
@use './clearstyle';

:root {
	--bg-primary: #1c1c1c;
	--text-light: #fff;
	--text-dark: #000;
}

#root {
	height: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 25px;
	color: var(--text-light);
	background-color: var(--bg-primary);

	&:global(._lock) {
		overflow: hidden;
	}
}
